body {
    width: 98vw;
    cursor: url("./cursor.png"), auto;
    font-family: 'Zen Maru Gothic', sans-serif;
    letter-spacing: 3px;
}

header {
    background-color: #F8EB77;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0px;
    padding-bottom: 10px;
}

.breadcrumb {
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumb li {
    display: inline-block;
    /*横に並ぶように*/
    list-style: none;
    font-weight: bold;
    /*太字*/
}

.breadcrumb li:after {
    /* ▶を表示*/
    content: '▶';
    padding: 0 0.3em;
    color: #F8EB77;
}

.breadcrumb li:last-child:after {
    content: '';
}

.breadcrumb li a {
    display: inline-block;
    padding: 0.2em 0.8em;
    border-radius: 15px;
    text-decoration: none;
    color: #272724;
    background: #F8EB77;
    font-size: 0.9em;
}

.breadcrumb li a:hover {
    background: #F8EB77;
}

main {
    width: 90%;
    margin: 0px auto;
}

h1 {
    font-size: 28px;
    font-family: 'Kiwi Maru', serif;
    color: #272724;
    margin-bottom: 30px;
}

h1 span {
    font-size: 16px;
}

nav {
    width: 80%;
    text-align: center;
}

nav ul {
    display: flex;
}

nav ul li {
    width: 170px;
    display: inline-block;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ffb200;
    color: #272724;

}

nav ul li:hover {
    background-color: #ffb200;
    color: #272724;
}

h2 {
    font-size: 24px;
    background-color: #272724;
    color: #fff;
    border-left: #ffb200 double 10px;
    padding: 3px;
    padding-left: 20px;
    margin: 20px 0px;
}

footer {
    background-color: #F8EB77;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 10px;
}

footer button {
    display: block;
    width: 300px;
    text-align: center;
    margin: 10px auto;
    border: #ffb200 3px solid;
    padding: 8px;
}

footer button:hover {
    background-color: #272724;
    color: #fff;
}
